@import '../assets/sass/fonts';
@import '../assets/sass/variables';
@import '../assets/sass/mixins';
@import '../assets/sass/animations';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  body {
    #root {

    }
  }
}
