// Mixins
@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
  }
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -ms-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin respond-to($media) {
  @if $media == phone-screens {
    @media screen and (min-width: $sm-phone-size) { @content; }
  } @else if $media == sm-tablet-screens {
    @media screen and (min-width: $phone-size) { @content; }
  } @else if $media == xl-tablet-screens {
    @media screen and (min-width: $sm-tablet-size) { @content; }
  } @else if $media == sm-pc-screens {
    @media screen and (min-width: $xl-tablet-size) { @content; }
  } @else if $media == pc-screens {
    @media screen and (min-width: $sm-pc-size) { @content; }
  } @else if $media == xpc-screens {
    @media screen and (min-width: $xl-pc-size) { @content; }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

