// Device Sizes
$sm-phone-size: 380px;
$phone-size: 576px;
$sm-tablet-size: 768px;
$xl-tablet-size: 992px;
$sm-pc-size: 1200px;
$xl-pc-size: 1400px;

// Colors
$primary-color:#FF1F86;
$secondary-color:#00a0a9;
$tertiary-color:#1CD1B3;
